/* Navbar.css */
.navbar {
    background-color: #282c34;
    color: white;
    padding: 0.5rem 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    /* position: sticky;
    top: 0%;
    z-index: 4; */
    
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.navbar-toggler {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 1.8rem;
    cursor: pointer;
    transition: color 0.3s ease;
}

.navbar-toggler:hover {
    color: #61dafb;
}

.navbar-menu {
    display: flex;
    align-items: center;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    overflow: hidden;
}

.navbar-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1.5rem;
    
}

.navbar-menu li {
    margin: 0;
    
}



.numberOfItemInCart {
    position: absolute;
    color: rgb(198, 21, 21);
    padding: 2px;
    top: 0%;
}


.navbar-menu a {
    color: white;
    text-decoration: none;

    font-size: 1rem;
    padding: 0.5rem 0;
    display: block;
    transition: color 0.3s ease;
}

.navbar-menu a:hover {
    color: #61dafb; 
}

/* Responsive Styles */
@media (max-width: 575px) {
    .navbar-menu {
        display: flex;
        flex-direction: column;
        max-height: 0;
        opacity: 0;
        background-color: #282c34;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        padding: 1rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }

    .navbar-menu.open {
        max-height: 300px;
        /* Adjust based on menu height */
        opacity: 1;
    }

    .navbar-menu ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .navbar-toggler {
        display: block;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .navbar-menu a {
        font-size: 0.9rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .navbar-menu a {
        font-size: 1rem;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .navbar-menu a {
        font-size: 1.1rem;
    }
}

@media (min-width: 1200px) {
    .navbar-menu a {
        font-size: 1.2rem;
    }
}

